form{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 3px #000;
    border-radius: 8px;
    padding:20px 100px;
    background: linear-gradient(0deg,blue,white);
    color: #40108e;
    font-size: 25px;
    font-weight: bold;
}

textarea{
    background: #fff;
    margin: 10px 0;
    height: 100px;
    width: 300px;
    border: solid 2px #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    color:#000;
    font-family: "Shadows Into Light";
}

textarea:focus{
    outline-color: #40108e;
}

.TodoForm-button{
    width: 100px;
    height: 40px;
    margin: 0 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-family: "Shadows Into Light";
}

.TodoForm-button--cancel{
    background-color: #d30000;
    color: #fff;
}

.TodoForm-button--cancel:hover{
    background-color: #ff0000;
    box-shadow: 1px 2px 5px #f00;
    text-shadow: 0 1px 5px;
}

.TodoForm-button--add{
    background-color: #01cf01;
    color: #fff;
}

.TodoForm-button--add:hover{
    background-color: #0f0;
    box-shadow: 1px 2px 5px #0f0;
    text-shadow: 0 1px 5px;
}